<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}" th:text = "${actions.search}"></a></li>
                    <li><a th:href="@{/list}" th:text = "${actions.list}"></a></li>
                </ul>
            </div>
        </div>
    </div>

    <table th:fragment="job-listing" class="job-listing">
        <tr th:each="job : ${jobs}">
            <td>
                <p><span>ID: </span><span th:text = "${job.getId()}"></span></p>
                <p><span>Name: </span><span th:text = "${job.getName()}"></span></p>
                <p><span>Position Type: </span><a th:href="@{/search/results(searchType='positionType',searchTerm=${job.getPositionType()})}" th:text = "${job.getPositionType()}"></a></p>
                <p><span>Employer: </span><a th:href="@{/search/results(searchType='employer',searchTerm=${job.getEmployer()})}" th:text = "${job.getEmployer()}"></a></p>
                <p><span>Core Skills: </span><a th:href="@{/search/results(searchType='coreCompetency',searchTerm=${job.getCoreCompetency()})}" th:text = "${job.getCoreCompetency()}"></a></p>
                <p><span>Location: </span><a th:href="@{/search/results(searchType='location',searchTerm=${job.getLocation()})}" th:text = "${job.getLocation()}"></a></p>
            </td>
        </tr>
    </table>

</body>
</html>

<!--th:href="@{/list/jobs(column=${category.key},value=${item})}"-->